{% extends 'app/base.html' %} {% block title %}
<title>Home Page</title>
{% endblock %} 
{% block body_block %}

<center>
    <u class="text-center fw-bolder text-danger"><h2> {{Qcl.title}}</h2></u><br>
<div style="margin: 0px 50px">
<table border="2px" class="table table-hover table-bordered rounded bg-white shadow p-2">
    <thead class="text-primary">
    <tr>
      <th class="fw-bolder">Answer</th>
      <th class="fw-bolder">Answered by</th>
      <th class="fw-bolder">Answered on</th>
    </tr>
</thead>
<tbody>
    {% for i in Qcl.question.all %}

    <tr>
      <td>{{i.description}}</td>
      <td>{{i.user}}</td>
      <td>{{i.created_at}}</td>
    </tr>

    {% endfor %}
</tbody>
</table>
</div>
</center>
{% endblock %}